<article class="mb-2 border-b">
  <p>
    <%= comment.content %>
  </p>
  <time class="text-xs text-gray-500">
    <%= format_date(comment.updated_at) %>
  </time>
  <footer class="my-1">
    <%= link_to '編輯', '#', class: 'btn btn-xs btn-primary' %>
    <%= link_to '刪除', comment_path(comment), method: 'delete', data: { confirm: '確認刪除？'}, class: 'btn btn-xs btn-danger' %>
  </footer>
</article>
