<% [:notice, :alert].each do |t| %>
  <% if flash[t] %>
    <%= tag.div class: ["flash", "flash-#{t}"],
                data: {
                  controller: 'flash'
                } do %>
      <%= flash[t] %>
      <button data-action="click->flash#close">X</button>
    <% end %>
  <% end %>
<% end %>
