<nav class="navbar">
  <%= link_to "Home", root_path %>
  <ul>
    <li><%= link_to "履歷", resumes_path %></li>
    <li><%= link_to "關於", about_path %></li>
    <li><%= link_to "聯絡", contact_path %></li>
  </ul>
</nav>
