<h1>收費</h1>
<ul>
  <li><%=link_to "方案A - $100", plan_path(id: "a"), class: "btn bg-sky-600 text-sky-100 hover:bg-sky-700 btn-sm m-3" %></li>
  <li><%= link_to "方案B - $500", plan_path(id: "b"), class: "btn bg-sky-600 text-sky-100 hover:bg-sky-700 btn-sm m-3" %></li>
  <li><%= link_to "方案C - $1000", plan_path(id: "c"), class: "btn bg-sky-600 text-sky-100 hover:bg-sky-700 btn-sm m-3" %></li>
</ul>
