form {
  .field {
    display: flex;
    margin: 10px 0;
  }

  .error-message {
    ul {
      list-style: none;
      li {
        color: red;
      }
    }
  }

  label {
    display: inline-block;
    width: 100px;
    font-size: medium;
    text-align: right;
    margin-right: 8px;
  }

  .field_with_errors {
    display: inline;

    input[type="email"],
    input[type="text"],
    input[type="password"],
    input[type="tel"] {
      border: 1px solid red;
    }
  }
}
