  <% if record.errors.any? %>
  <section class="error-message">
    <ul >
      <% record.errors.full_messages.each do |message| %>
        <li ><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
