<h1>履歷列表</h1>
<%= link_to "新增履歷", new_resume_path%>
<form action="">
  <input type="text" name="keyword" value="<%= params[:keyword] %>" placeholder="請出入關鍵字">
  <input type="submit" value="查詢">
</form>
<div class="resume-container">
  <%= render partial: "resume", collection: @resumes %>
  <%# @resumes.each do |resume| %>
    <%#= render 'resume', resume: resume%>
    <%# end %>
  </div>
